@import './config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    height: auto;
}


.wrapper {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;

    .logo {
        font-size: 1.7rem;
        font-weight: 800;
    }
}

.section-heading1 {
    font-size: 4rem;
    font-weight: 800;
}

.section-heading2 {
    font-size: 3rem;
    font-weight: 800;;
    line-height: 1;
}

.btn {
    display: inline-block;
    padding: .6rem 1.8rem;
    text-decoration: none !important;
    color: var(--dark-primary-color);
    font-size: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 3rem;
    font-weight: 700;

    &-cta {
        background-image: linear-gradient(to right, #19f1b4, #AAFFA9 100%);
        color: #fff;
        border: none;
    }

    &.lg {
        font-size: 1.4rem;
        padding: 1rem 3rem;
    }
    // 
    // background-clip: border-box;
}

section {
    width: 100%;
    height: 100vh;

    // ---------
    //position: absolute;
    transition: all .2s;
    //top: 0;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    &#section1 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .center-block {
            text-align: center;
            width: 90%;
            max-width: 900px;

            .btn {
                margin-top: 1.2rem;
            }
        }

        .scroll-hint {
            position: absolute;
            top: auto;
            bottom: 40px;
            text-align: center;

            span, i {
                color: #999;
            }

            i {
                display: block;
                font-size: 1.4rem;
                animation: 1s move infinite;
            }
        }
    }

    &#section2 {

        .section-container {
            @include tablet {
                flex-direction: column;
            }

            position: relative;
            height: 100%;
            padding: 0 3rem;
            display: flex;
            justify-content: center;
            align-items: center !important;

            .img-block {
                @include laptop {
                    top: 0;
                }

                @include tablet {
                    flex-direction: column;
                    margin-left: -30%;
                    margin-top: -0%;;
                    height: 10px !important;
                    width: auto !important;
                }

                @include tablet-sm {
                    margin-top: 10%;
                    margin-left: 0%;
                    
                    img {
                        width: 70vw;
                    }
                }

                position: relative;
                max-height: 50vh;
                width: 40px !important;
                z-index: -1;
                top: -15vh;

                img {
                    @include tablet-sm {
                        width: 70vw;
                    }

                    position: absolute;
                    width: 50vw;
                    max-height: 80vh;
                }
            }

            .right-block {
                @include tablet {
                    margin-left: 0;
                    margin-top: 15rem;
                }

                @include tablet-sm {
                    margin-left: 0rem;
                    width: 100% !important;
                }

                position: relative;
                z-index: 1;
                width: 50vw;
                max-height: 60vh !important;
                padding: 2rem;
                border-radius: 3rem;
                margin-left: 20rem;
                margin-top: 5rem;
                max-width: 400px;
                background-color: #fff;
                box-shadow: 0 0 3rem rgba(#000, .15);

                p {
                    margin-top: 1.5rem;
                    line-height: 1.6;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@keyframes move {
    0% {
        opacity: 1;
        transform: translateY(0);
    } 90% {
        opacity: .2;
        transform: translateY(20px);
    } 100% {
        opacity: 0;
        transform: translateY(23px);
    }
}